rules_version = '2';

// Read rules can be divided into get and list rules
// Write rules can be divided into create, update, and delete rules

service cloud.firestore {
  match /databases/{database}/documents {
    match /organizations/{id} {
      allow create: true;
      allow update, delete: if request.auth.uid in resource.data.admins;
      allow read: if request.auth.uid in resource.data.admins || if request.auth.uid in resource.data.members;
    }
    match /users/{id} {
      allow create: true;
      allow update, delete: if request.auth.uid in resource.data.admins;
      allow read: if request.auth.uid in resource.data.admins || if request.auth.uid in resource.data.members;
    }
  }
}